{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Welcome</title>#}
{#</head>#}
{#<body>#}
{#    <h1>Welcome</h1>#}
{#    welcome {{ data }}#}
{#</body>#}
{#</html>#}



<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Registration Form in HTML CSS</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <section class="container">
      <header>Welcome</header>
        <h1>Welcome {{ data }}</h1>
    </section>
  </body>
</html>