<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Registration form</title>
</head>
<body>
    <h1>Registration form</h1>
    <form action="/registration" method="post">
        <lable>First name:</lable>
        <input type="text" id="fn" name="fn"/><br>
        <lable>Last name:</lable>
        <input type="text" id="ln" name="ln"/><br>
        <lable>User name:</lable>
        <input type="text" id="un" name="un"/><br>
        <lable>Password:</lable>
        <input type="password" id="password" name="password"/><br>
        <input type="submit"/>
    </form>
</body>
</html>